<div class="login" style="background-image: url('images/loginBackgrounf.jpg'); background-size: cover;" ng-controller="confirmCtrl">
    <div class="container pt-5 pb-5" style="width: 35%;">
        <div class="bg-white" style="border-radius: 5px; box-shadow: 2px 2px 5px grey;">
            <form class="pt-5 pb-5 pr-4 pl-4">
                <h4 class="text-center font-weight-bold">Nhập mã xác nhận</h4>
                <div class="form-group mt-5">
                    <input type="text" class="form-control" ng-model="confirm" placeholder="Nhập mã xác nhận">
                </div>                
                <button type="submit" class="btn btn-danger mt-4 w-100"  ng-click="confirmCode()">GỬI</button>
            </form>
        </div>

    </div>
</div>