<div class="login" style="background-image: url('images/loginBackgrounf.jpg'); background-size: cover;" ng-controller="forgotPasswordCtrl">
    <div class="container pt-5 pb-5" style="width: 35%;">
        <div class="bg-white" style="border-radius: 5px; box-shadow: 2px 2px 5px grey;">
            <form class="pt-5 pb-5 pr-4 pl-4">
                <h4 class="text-center font-weight-bold">Quên mật khẩu</h4>
                <div class="form-group mt-5">
                    <input type="email" class="form-control" ng-model="email" placeholder="Nhập email đã đăng ký">
                </div>                
                <button type="submit" class="btn btn-danger mt-4 w-100" ng-click="forgotPassword()">GỬI</button>
            </form>
        </div>

    </div>
</div>